$datepicker__background-color: #ffffff !default;
$datepicker__border-color: #e5e6eb !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: #52bad6 !default;
$datepicker__text-color: #333333 !default;
$datepicker__header-color: #333333 !default;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)
  !default;

$datepicker__border-radius: 4px !default;
$datepicker__day-margin: 4px !default;
$datepicker__font-size: 15px !default;
$datepicker__font-family: "Open Sans", Helvetica, Arial, sans-serif !default;
$datepicker__item-size: 40px !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-size: 8px !default;
$datepicker__triangle-size: 8px !default;
